In [2]:
import os
import pandas as pd

In [20]:
datanba = pd.read_csv("data/datanba_2022.csv")
datanba

,evt,wallclk,cl,de,locX,locY,opt1,opt2,opt3,opt4,...,tid,pid,hs,vs,epid,oftid,ord,pts,PERIOD,GAME_ID
0,2,2022-10-18T23:35:25.400Z,12:00,Start Period,0,-80,0,0,0,0,...,0,0,0,0,NaN,0,20000,0,1,22200001
1,4,2022-10-18T23:35:27.800Z,11:57,Jump Ball Embiid vs Horford (Harris gains poss...,0,-80,0,0,0,0,...,1610612755,203954,0,0,202699.0,1610612755,60000,0,1,22200001
2,7,2022-10-18T23:35:46Z,11:38,[PHI] Embiid Turnaround Fadeaway shot: Missed ...,-118,50,2,0,0,0,...,1610612755,203954,0,0,NaN,1610612755,70000,0,1,22200001
3,9,2022-10-18T23:35:49Z,11:35,[PHI] Tucker Rebound (Off:1 Def:0),-118,50,1,0,0,0,...,1610612755,200782,0,0,NaN,1610612755,90000,0,1,22200001
4,10,2022-10-18T23:35:53.100Z,11:35,[PHI] Tucker Turnover : Out of Bounds Lost Bal...,45,10,0,0,0,0,...,1610612755,200782,0,0,NaN,1610612755,100000,0,1,22200001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588559,676,2023-03-11T02:33:30.600Z,00:04.6,[ATL] Hunter Rebound (Off:0 Def:7),150,219,0,0,0,0,...,1610612737,1629631,107,112,NaN,1610612764,6700000,0,4,22200999
588560,677,2023-03-11T02:33:31.700Z,00:04.6,[WAS] Porzingis Foul: Personal (4 PF) (2 FTA) ...,59,845,1,0,2,0,...,1610612764,204001,107,112,200833.0,1610612737,6710000,0,4,22200999
588561,679,2023-03-11T02:34:04.300Z,00:04.6,[ATL 113-107] Hunter Free Throw 1 of 2 (17 PTS),0,-80,1,0,1,0,...,1610612737,1629631,107,113,NaN,1610612737,6730000,1,4,22200999
588562,680,2023-03-11T02:34:20.100Z,00:04.6,[ATL 114-107] Hunter Free Throw 2 of 2 (18 PTS),0,-80,1,0,1,0,...,1610612737,1629631,107,114,NaN,1610612737,6740000,1,4,22200999
588563,681,2023-03-11T02:34:34.100Z,00:00.0,End Period,0,-80,0,0,0,0,...,0,0,107,114,NaN,1610612764,6750000,0,4,22200999

In [16]:
matchups = pd.read_csv("data/matchups_2022.csv")
matchups

,game_id,away_team_id,home_team_id,team_id,team_name,team_city,team_tricode,team_slug,person_id,first_name,...,matchup_three_pointers_made,matchup_three_pointers_attempted,matchup_three_pointers_percentage,help_blocks,help_field_goals_made,help_field_goals_attempted,help_field_goals_percentage,matchup_free_throws_made,matchup_free_throws_attempted,shooting_fouls
0,22200001,1610612755,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,0,0.0,0,0,0,0,0,0,0
1,22200001,1610612755,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,2,0.0,0,0,0,0,0,0,0
2,22200001,1610612755,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,1,0.0,0,0,0,0,0,0,0
3,22200001,1610612755,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,0,1,0.0,0,0,0,0,0,0,0
4,22200001,1610612755,1610612738,1610612738,Celtics,Boston,BOS,celtics,1627759,Jaylen,...,1,2,0.5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229180,22201230,1610612744,1610612757,1610612744,Warriors,Golden State,GSW,warriors,1631116,Patrick,...,0,0,0.0,0,0,0,0,0,0,0
229181,22201230,1610612744,1610612757,1610612744,Warriors,Golden State,GSW,warriors,1631116,Patrick,...,1,2,0.5,0,0,0,0,0,0,0
229182,22201230,1610612744,1610612757,1610612744,Warriors,Golden State,GSW,warriors,1631116,Patrick,...,0,2,0.0,0,0,0,0,0,0,0
229183,22201230,1610612744,1610612757,1610612744,Warriors,Golden State,GSW,warriors,1631116,Patrick,...,0,1,0.0,0,0,0,0,0,0,0
229184,22201230,1610612744,1610612757,1610612744,Warriors,Golden State,GSW,warriors,1631116,Patrick,...,1,1,1.0,0,0,0,0,0,0,0

In [17]:
shotdetail = pd.read_csv("data/shotdetail_2022.csv")
shotdetail

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,22200005,7,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,11,44,...,Right Side Center(RC),16-24 ft.,18,77,172,1,1,20221019,ATL,HOU
1,Shot Chart Detail,22200005,10,1629027,Trae Young,1610612737,Atlanta Hawks,1,11,14,...,Center(C),24+ ft.,36,1,363,1,0,20221019,ATL,HOU
2,Shot Chart Detail,22200005,15,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,10,49,...,Left Side Center(LC),24+ ft.,24,-201,147,1,0,20221019,ATL,HOU
3,Shot Chart Detail,22200005,18,1629631,De'Andre Hunter,1610612737,Atlanta Hawks,1,10,22,...,Left Side Center(LC),24+ ft.,25,-183,175,1,0,20221019,ATL,HOU
4,Shot Chart Detail,22200005,21,1627749,Dejounte Murray,1610612737,Atlanta Hawks,1,9,57,...,Center(C),Less Than 8 ft.,3,-17,26,1,0,20221019,ATL,HOU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217213,Shot Chart Detail,22201222,603,1631098,Johnny Davis,1610612764,Washington Wizards,4,3,9,...,Left Side Center(LC),24+ ft.,26,-148,219,1,0,20230409,WAS,HOU
217214,Shot Chart Detail,22201222,611,1631098,Johnny Davis,1610612764,Washington Wizards,4,2,39,...,Center(C),Less Than 8 ft.,6,12,64,1,0,20230409,WAS,HOU
217215,Shot Chart Detail,22201222,616,1631098,Johnny Davis,1610612764,Washington Wizards,4,2,12,...,Right Side(R),24+ ft.,23,223,62,1,0,20230409,WAS,HOU
217216,Shot Chart Detail,22201222,620,1630692,Jordan Goodwin,1610612764,Washington Wizards,4,1,46,...,Left Side Center(LC),24+ ft.,26,-156,213,1,0,20230409,WAS,HOU
217217,Shot Chart Detail,22201222,640,1630225,Isaiah Todd,1610612764,Washington Wizards,4,0,36,...,Center(C),Less Than 8 ft.,5,5,51,1,1,20230409,WAS,HOU

In [18]:
pbpstats = pd.read_csv("data/pbpstats_2022.csv")
pbpstats

,ENDTIME,EVENTS,FG2A,FG2M,FG3A,FG3M,GAMEDATE,GAMEID,NONSHOOTINGFOULSTHATRESULTEDINFTS,OFFENSIVEREBOUNDS,OPPONENT,PERIOD,SHOOTINGFOULSDRAWN,STARTSCOREDIFFERENTIAL,STARTTIME,STARTTYPE,TURNOVERS,DESCRIPTION,URL
0,00:04,MISS Horford 25' 3PT Jump Shot\nHarden REBOUND...,0,0,1,0,2022-10-18,22200001,0,0,PHI,4,0,9,00:29,Off At Rim Make,0,MISS Horford 25' 3PT Jump Shot,https://videos.nba.com/nba/pbp/media/2022/10/1...
1,00:04,MISS Horford 25' 3PT Jump Shot\nHarden REBOUND...,0,0,1,0,2022-10-18,22200001,0,0,PHI,4,0,9,00:29,Off At Rim Make,0,Harden REBOUND (Off:0 Def:8),https://videos.nba.com/nba/pbp/media/2022/10/1...
2,00:32,Brown Lost Ball Turnover (P4.T11): Harris STEA...,0,0,0,0,2022-10-18,22200001,0,0,PHI,4,0,11,00:48,Off Short Mid-Range Make,1,Brown Lost Ball Turnover (P4.T11): Harris STEA...,https://videos.nba.com/nba/pbp/media/2022/10/1...
3,00:58,Smart Bad Pass Turnover (P1.T10): Maxey STEAL ...,0,0,0,0,2022-10-18,22200001,0,0,PHI,4,0,13,01:10,Off FT Make,1,Smart Bad Pass Turnover (P1.T10): Maxey STEAL ...,https://videos.nba.com/nba/pbp/media/2022/10/1...
4,01:26,Brown 27' 3PT Jump Shot (35 PTS) (Tatum 4 AST)\n,0,0,1,1,2022-10-18,22200001,0,0,PHI,4,0,13,01:44,Off At Rim Make,0,Brown 27' 3PT Jump Shot (35 PTS) (Tatum 4 AST),https://videos.nba.com/nba/pbp/media/2022/10/1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486509,10:01,MISS Collins 27' 3PT Jump Shot\nPorzingis REBO...,0,0,1,0,2023-03-10,22200999,0,0,WAS,1,0,-1,10:09,Off Long Mid-Range Miss,0,Porzingis REBOUND (Off:0 Def:1),https://videos.nba.com/nba/pbp/media/2023/03/1...
486510,10:25,Young 6' Driving Finger Roll Layup (2 PTS) (Mu...,1,1,0,0,2023-03-10,22200999,0,0,WAS,1,0,-3,10:41,Off Short Mid-Range Make,0,Young 6' Driving Finger Roll Layup (2 PTS) (Mu...,https://videos.nba.com/nba/pbp/media/2023/03/1...
486511,11:02,Hunter 25' 3PT Pullup Jump Shot (3 PTS)\n,0,0,1,1,2023-03-10,22200999,0,0,WAS,1,0,-4,11:11,Off At Rim Make,0,Hunter 25' 3PT Pullup Jump Shot (3 PTS),https://videos.nba.com/nba/pbp/media/2023/03/1...
486512,11:16,MISS Young 9' Driving Floating Jump Shot\nKuzm...,1,0,0,0,2023-03-10,22200999,0,0,WAS,1,0,-2,11:38,Off Short Mid-Range Make,0,MISS Young 9' Driving Floating Jump Shot,https://videos.nba.com/nba/pbp/media/2023/03/1...
486513,11:16,MISS Young 9' Driving Floating Jump Shot\nKuzm...,1,0,0,0,2023-03-10,22200999,0,0,WAS,1,0,-2,11:38,Off Short Mid-Range Make,0,Kuzma REBOUND (Off:0 Def:1),https://videos.nba.com/nba/pbp/media/2023/03/1...

In [21]:
initial_plays = datanba.groupby("GAME_ID").head(10).reset_index(drop=True)

In [22]:
initial_plays

,evt,wallclk,cl,de,locX,locY,opt1,opt2,opt3,opt4,...,tid,pid,hs,vs,epid,oftid,ord,pts,PERIOD,GAME_ID
0,2,2022-10-18T23:35:25.400Z,12:00,Start Period,0,-80,0,0,0,0,...,0,0,0,0,NaN,0,20000,0,1,22200001
1,4,2022-10-18T23:35:27.800Z,11:57,Jump Ball Embiid vs Horford (Harris gains poss...,0,-80,0,0,0,0,...,1610612755,203954,0,0,202699.0,1610612755,60000,0,1,22200001
2,7,2022-10-18T23:35:46Z,11:38,[PHI] Embiid Turnaround Fadeaway shot: Missed ...,-118,50,2,0,0,0,...,1610612755,203954,0,0,NaN,1610612755,70000,0,1,22200001
3,9,2022-10-18T23:35:49Z,11:35,[PHI] Tucker Rebound (Off:1 Def:0),-118,50,1,0,0,0,...,1610612755,200782,0,0,NaN,1610612755,90000,0,1,22200001
4,10,2022-10-18T23:35:53.100Z,11:35,[PHI] Tucker Turnover : Out of Bounds Lost Bal...,45,10,0,0,0,0,...,1610612755,200782,0,0,NaN,1610612755,100000,0,1,22200001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12295,10,2023-03-11T00:12:01.200Z,11:16,[WAS] Kuzma Rebound (Off:0 Def:1),2,94,0,0,0,0,...,1610612764,1628398,2,0,NaN,1610612737,100000,0,1,22200999
12296,11,2023-03-11T00:12:06.400Z,11:11,[WAS 4-0] Beal Driving Finger Roll Layup Shot:...,-23,12,2,0,0,0,...,1610612764,203078,4,0,1628398.0,1610612764,110000,2,1,22200999
12297,13,2023-03-11T00:12:15.200Z,11:02,[ATL 3-4] Hunter 3pt Shot: Made (3 PTS),143,207,3,0,0,0,...,1610612737,1629631,4,3,NaN,1610612737,130000,3,1,22200999
12298,14,2023-03-11T00:12:28.100Z,10:52,[ATL] Young Violation:Kicked Ball (E Dalen),0,-80,0,0,0,0,...,1610612737,1629027,4,3,NaN,1610612764,140000,0,1,22200999
12299,15,2023-03-11T00:12:53.700Z,10:41,[WAS 6-3] Morris Turnaround Fadeaway shot: Mad...,-102,17,2,0,0,0,...,1610612764,1628420,6,3,NaN,1610612764,150000,2,1,22200999

In [34]:
shot_ratios = (
    shotdetail.groupby(["TEAM_ID", "SHOT_ZONE_AREA", "SHOT_DISTANCE"])["SHOT_MADE_FLAG"]
      .mean()
      .reset_index()
      .rename(columns={"SHOT_MADE_FLAG": "made_ratio"})
)

In [35]:
shot_ratios

         TEAM_ID  SHOT_ZONE_AREA  SHOT_DISTANCE  made_ratio
0     1610612737  Back Court(BC)             43    0.000000
1     1610612737  Back Court(BC)             45    0.000000
2     1610612737  Back Court(BC)             47    0.000000
3     1610612737  Back Court(BC)             48    0.000000
4     1610612737  Back Court(BC)             51    0.000000
...          ...             ...            ...         ...
3659  1610612766   Right Side(R)             21    0.250000
3660  1610612766   Right Side(R)             22    0.375000
3661  1610612766   Right Side(R)             23    0.375000
3662  1610612766   Right Side(R)             24    0.320755
3663  1610612766   Right Side(R)             25    0.000000

[3664 rows x 4 columns]

In [33]:
unique_combos = shotdetail[["SHOT_ZONE_AREA", "SHOT_DISTANCE"]].drop_duplicates()
len(unique_combos)

178